.example-icon {
    padding-right: 0 24px;
}

.example-icon-1 {
    padding: 0 10px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

/*
.sidenav-content-example{
    top : 10px;
    left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}
*/